{% extends '@App/Web/layout.html.twig' %}

{% block main %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url({{ asset('bundles/app/web/img/home-bg.jpg') }})">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <article>
        <!-- Main Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    {% for post in posts %}
                        <div class="post-preview">
                            <a href="{{ path('post_detail', { 'slug': post.slug }) }}">
                                <h2 class="post-title">
                                    {{ post.title }}
                                </h2>
                                <h3 class="post-subtitle">
                                    {{ post.text|truncate(500, true) |raw }}
                                </h3>
                            </a>
                            <p class="post-meta">Posted on {{ post.date|date('d.m.Y H:i') }}</p>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    {{ include("@App/Web/pagination.html.twig", { currentPageNumber: currentPageNumber, url: "posts", totalNumberOfPages: totalNumberOfPages}) }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}